/* .main-menu{
    background-color: rgb(66, 88, 58);
    display: block;
    float: left;
    height: 98vh;
    width: 40px;
} */

.app-content{
    background-color: rgb(58, 58, 58);
    display: block;
    height: 98vh;
    width:100%;
}