.display-overall{
    display: flex; /* こいつで.main-menuと.app-contentsを横並びにする */
    height: 100vh;
    margin: 0;
    padding: 0;
    width:100%;

    .mainmenu{
        background-color: rgb(110, 0, 68);
        display: block;
        height: 100%;
        margin: 0;
        padding: 0;
        width: 60px;

        ul{
            list-style:none;
            margin:0;
            padding: 0;

            li{
                align-items: center;
                display: flex;
                height: 60px;
                justify-content: center;
                margin:0;
                padding: 0;
                width: 60px;
            }
        }
    }

    .app-contents{
        background-color: rgb(15, 15, 15);
        display: block;
        height: 100%;
        margin: 0;
        padding: 0;
        width:100%;

        .submenu{
            background-color: rgb(48, 48, 48);
            height: 100%;
            width:100%;
        }

        .app-main{
            background-color: rgb(39, 39, 39);
            height: 100%;
            width:100%;
        }

        .bottom-area{
            background-color: rgb(29, 29, 29);
            height: 100%;
            width:100%;
        }
    }
}







