<!--The content below is only a placeholder and can be replaced.-->
  <div class="app-content">
    <split direction="vertical" gutterSize="5">
      <!-- 上段 -->
      <split-area size="90" order="0">
        <split direction="horizontal" gutterSize="5">
          <!-- 左（アプリケーションのサブメニュー） -->
          <split-area size="15" order="11">
            <p>test</p>
          </split-area>
          <!-- 右（メイン画面） -->
          <split-area size="85" order="12">
            <p>test</p>
          </split-area>
        </split>
      </split-area>
      <!-- 下段 -->
      <split-area size="10" order="1">
        <p>test</p>
      </split-area>
    </split>
  </div>