:host {
    color: #ccc;
    width: 100%;
}

$textcolor:#bbb;
$bordercolor:rgba(255, 255, 255, 0.15);
$tableheight:300px; // tableの高さ
.table-wrapper-3 {
    // ヘッダーとかボタンとかテーブル要素を全部ひっくるめたラッパー
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 14px -2px #000000;
    padding: 10px;
    label {
        display: inline-block;
        margin: 10px 0 5px 5px;
    }
    .table-wrapper-2 {
        // 上下スクロールのためのラッパー
        height: $tableheight;
        overflow-y: auto;
        position: relative; // 本来テーブルがある位置にそのまま置くから。
        &:before {
            content: "";
            display: block;
            padding-top: $tableheight; // こいつで擬似的に高さを与えている
        }
        .table-wrapper {
            // 横スクロールのためのラッパー
            color: $textcolor;
            left: 0;
            overflow-x: auto;
            position: absolute; // absoluteにすることで高さが消えている
            top: 0;
            width: 100%;
            table {
                border-collapse: collapse;
                table-layout: fixed;
                min-width: 100%;
                tr {
                    border-bottom: 1px $bordercolor solid;
                    background-color: rgba(187, 187, 187, 0.3);
                    height: 40px;
                    &.header {
                        background-color: rgba(49, 49, 49, 0.5);
                        border-bottom: 3px rgba(255, 255, 255, 0.062);
                    }
                    &:nth-child(even) {
                        // 偶数行
                        background-color: rgba(153, 235, 255, 0.3);
                    }
                    .line-no {
                        width: 50px;
                    }
                    th {
                        padding: 5px;
                        white-space: nowrap;
                        &:nth-child(odd) {
                            // 奇数列
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                    }
                    td {
                        white-space: nowrap;
                        &:nth-child(odd) {
                            // 奇数列
                            background-color: rgba(0, 0, 0, 0.1)
                        }
                        input {
                            background-color: rgba(255, 255, 255, 0);
                            border: 2px solid rgba(255, 255, 255, 0); // focus時に位置がずれるのを防ぐため
                            box-sizing: border-box;
                            color: $textcolor;
                            display: inline-block;
                            height: 40px;
                            overflow: hidden;
                            padding-left: 5px;
                            padding-right: 5px;
                            transition: background-color 0.1s linear;
                            width: 100%;
                            &:hover {
                                background-color: rgba(255, 255, 255, 0.2);
                            }
                            &:focus {
                                border: 2px solid #ff9900;
                                outline: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom-buttons {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin-right: 5px;
        i {
            margin: 2px;
            transition: transform 0.5s ease-in;
            &:hover {
                transform: rotateZ(360deg)
            }
        }
    }
}

thead {
    display: table;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}