<div class="table-wrapper-3">
  <label for="inputDetails" myColored="#f0f">テーブルの説明</label>
  <div id="inputDetails" class="table-wrapper-2">
    <div class="table-wrapper">
      <table>
        <tr class="header">
          <th class='line-no'>行番号</th>
          <th>商品コード</th>
          <th>商品名</th>
          <th>規格</th>
          <th>金額</th>
          <th>特急料金</th>
          <th>備考</th>
        </tr>

        <ng-container *ngFor="let row of rows">
          <tr #tr (click)="clickedRowindexUpdate(tr.rowIndex)">
            <td class='line-no'>
              <input type=text [value]='tr.rowIndex' style="text-align: center;">
            </td>
            <td>
              <input type=text [(ngModel)]='row.columnA'>
            </td>
            <td>
              <input type=text [(ngModel)]='row.columnA'>
            </td>
            <td>
              <input type=text [(ngModel)]='row.columnA'>
            </td>
            <td>
              <input type=number [(ngModel)]='row.columnB' style="text-align: right;">
            </td>
            <td>
              <input type=text [(ngModel)]='row.columnC'>
            </td>
            <td>
              <input type=text [(ngModel)]='row.columnD'>
            </td>
          </tr>
        </ng-container>

      </table>
    </div>
  </div>
  <div class="bottom-buttons">
    <i class="material-icons" (click)="debugButtonClicked()">bug_report</i>
    <i class="material-icons" (click)="addButtonClicked()">add_circle</i>
    <i class="material-icons" (click)="removeButtonClicked()">remove_circle</i>
  </div>
</div>
