<div class="all-wrapper">
  <label for="inputDetails">やることリスト</label>
  <table class="sticky_table">

    <thead>
      <tr class="header">
        <th class='blank' style="width:60px;">行№</th>
        <th style="width:250px;">タスク名</th>
        <th style="width:400px;">説明</th>
        <th>ステータス</th>
        <th>作成日</th>
        <th>更新日</th>
      </tr>
    </thead>

    <tbody [formGroup]="rowsFormGroup">
      <ng-container *ngFor="let row of controlOfTasks.controls; let i = index" formArrayName="tasks">
        <tr #tr (click)="clickedRowindexUpdate(tr.rowIndex)" formGroupName="{{i}}">
          <th class='line-no' style="width:60px;">
            <input type=text [value]='tr.rowIndex' style="text-align: center;" disabled>
          </th>
          <td  style="width:250px;">
            <input type=text formControlName='task_name'>
          </td>
          <td  style="width:400px;">
            <input type=text formControlName='description'>
          </td>
          <td>
            <select formControlName='status'>
              <option value="0">未完了</option>
              <option value="1">実行中</option>
              <option value="2">完了</option>
            </select>
            <i class="material-icons">keyboard_arrow_down</i>
          </td>
          <td>
            <input type=text formControlName='created_at'>
          </td>
          <td>
            <input type=text formControlName='updated_at'>
          </td>
        </tr>
      </ng-container>
    </tbody>

  </table>

  <div class="bottom-buttons">
    <i class="material-icons" (click)="debugButtonClicked()" title="デバッグ">bug_report</i>
    <i class="material-icons" (click)="refreshButtonClicked()" [style.pointer-events]="pointerEvents" title="再読込">sync</i>
    <i class="material-icons" (click)="addButtonClicked()" title="行追加">add_circle</i>
    <i class="material-icons" (click)="hideButtonClicked()" title="行非表示">remove_circle</i>
    <i class="material-icons" (click)="postButtonClicked()" [style.pointer-events]="pointerEvents" title="更新">done</i>
    <i class="material-icons" (click)="deleteButtonClicked()" [style.pointer-events]="pointerEvents" title="データ削除">delete</i>
  </div>
</div>