<div class="all-wrapper">
  <label for="inputDetails">やることリスト</label>
  <table class="sticky_table">

    <thead>
      <tr class="header">
        <th class='blank' style="width:60px;">№</th>
        <th style="width:250px;">タスク名</th>
        <th style="width:400px;">説明</th>
        <th>ステータス</th>
        <th>作成日</th>
        <th>更新日</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let row of rows">
        <tr #tr (click)="clickedRowindexUpdate(tr.rowIndex)">
          <th class='line-no' style="width:60px;">
            <input type=text [value]='tr.rowIndex' style="text-align: center;" disabled>
          </th>
          <td  style="width:250px;">
            <input type=text [(ngModel)]='row.task_name' required>
          </td>
          <td  style="width:400px;">
            <input type=text [(ngModel)]='row.description'>
          </td>
          <td>
            <select [(ngModel)]='row.status'>
              <option value="0">未完了</option>
              <option value="1">実行中</option>
              <option value="2">完了</option>
            </select>
            <i class="material-icons">keyboard_arrow_down</i>
          </td>
          <td>
            <input type=text [(ngModel)]='row.created_at' disabled>
          </td>
          <td>
            <input type=text [(ngModel)]='row.updated_at' disabled>
          </td>
        </tr>
      </ng-container>
    </tbody>

  </table>

  <div class="bottom-buttons">
    <i class="material-icons" (click)="debugButtonClicked()">bug_report</i>
    <i class="material-icons" (click)="addButtonClicked()">add_circle</i>
    <i class="material-icons" (click)="hideButtonClicked()">remove_circle</i>
    <i class="material-icons" (click)="postButtonClicked()" [style.pointer-events]="pointerEvents">sync</i>
    <i class="material-icons" (click)="deleteButtonClicked()" [style.pointer-events]="pointerEvents">delete</i>
  </div>
</div>